table, th, td {border: 1px solid black; border-collapse: collapse;}
		body {background-image: url(latar2.jpg);}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #008080;}
	li {float: left;}
	li a {
		display: block;
		color: 	black;
		text-align: center;
		padding: 14px 16px
		text-decoration: none;}
		li a: hover {background-color: #B0E0E6;}
		h1{color: #E0FFFF;}
			
		h2{color: white;}
		table, th, td {border: 3px double black;}
		table, th, td {background-color: #B0E0E6;}
		p{color: black}
		p{border: 5px double #008080;
			padding: 25px;}
		p{text-align: justify;}
		p{background-color: #B0E0E6;}